<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table>
<a href="/forehome" >回到首页</a>

<tr>
  <td>用户</td>
  <td>评论</td>
  <td>日期</td>
</tr>  
<tr th:each="r : ${rs}" >
 <td th:text="${r.uname}"></td>
 <td th:text="${r.content}"></td>
 <td th:text="${r.createDate}">:</td>
</tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
发表评论（字数150字）
<form action="addReview" method="post">
   <input type="text" name="content"><br>
   <input type="submit" value="提交">
</form>
</body>
</html>